body {
    margin: 0;
    font-size: 30px;
    height: 100vh;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-btn{
    background-color: black;
    color: white;
    margin-bottom: 0;
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.side {
    height: 100vh;
    width: 20%;
    background-color: whitesmoke;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
}

a {
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid white;
    width: 100%;
    text-align: center;
}