<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Javascript Events 4</title>
    <link rel="stylesheet" href="../css/style.css">
    <script defer type="text/javascript" src="../js/4.app.js"></script>
</head>

<body>
    <p class="menu-btn" href="#">Menu</p>
    <div class="side">
        <div class="menu">
            <a href="#">This is link 1</a>
            <a href="#">This is link 2</a>
            <a href="#">This is link 3</a>
            <a href="#">This is link 4</a>
            <a href="#">This is link 5</a>
        </div>
    </div>
</body>
</html>