<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Javascript Events 5</title>
    <link rel="stylesheet" href="../css/style2.css">
    <script defer type="text/javascript" src="../js/5.app.js"></script>
</head>
<body>
    <div class="container">
        <form  class="test-form" action="pyarchive.py" method="post">
            <input class="inp" type="text" placeholder="write here" name="" id="">
            <button class="btn" type="submit">Click me!</button>
        </form>
        <a href="#" class="test-btn">Click me to change me!</a>
    </div>
</body>
</html>