<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Javascript Events 6</title>
    <link rel="stylesheet" href="../css/style.css">
    <script defer type="text/javascript" src="../js/6.app.js"></script>
</head>
<body>
    <h1>Using querySelector and querySelectorAll</h1>
    <div class="bullets">
        <ul>
            <li class="b">Select Dom elements using Css Selectors.</li>
            <li class="b">compatible with all new browsers.</li>
            <li class="b">available on the document object and element nodes.</li>
            <li class="b">returns a static collection instead of a live collection</li>
        </ul>
    </div>
    <footer>
        <a href="http://www.allthingsjavascript.com">www.allthingsjavascript.com</a>
    </footer>
</body>
</html>